@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@700&family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');



.boxDataProfileUser{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: 0.2em solid grey;    
    border-radius: 1em;
    transition: 0.3s;
    /* box-shadow:  5px 5px 5px 2px grey; */
    width: fit-content;
    font-size: 0.8em;
    background-color: black;
    margin-bottom: 8em;
    padding: 1em;
    height: fit-content;
    align-content: flex-end;

}

.infoUser1{
    height: fit-content;
    width: fit-content;  
    display: flex;
    align-items:center;
    flex-direction: column;  
    border-right: 0.2em solid grey;   
    background-color: black; 
    border-radius: 1em 0 0 1em;
    justify-content: space-evenly;
    align-content: center;
    padding-right: 0.5em;
}
    p {
        font-size: 18px;
    }
.fotoUserProfile{
    height: fit-content;
    width: fit-content;
    align-items: center;
    justify-content: center;
    display: flex;

} 

.img {
    align-content: center;
    text-align: center;
    justify-content: center;
    padding-right: 2em;
    width: 15vw;
  
}

.botonEdit{
    height: 32.29vh;
    width: auto;
    display: inline;

    
}

#foto{
    height: 20vh;
    width: 20vw; 
    border-radius: 1.5em; 

}

.infoUser2Titulos
{
    height: 50vh;
    width: auto;  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
    background-color: black; 
  
}

.infoUser2{
    height: fit-content;
    width: auto;    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
    background-color: black; 
    padding-left: 0.5em;
  
}
.infoUser3{
    height: 50vh;
    width: -webkit-fill-available;    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
    background-color: black; 
    border-radius: 0 1em 1em 0;
}

.inputBaseUser{
    width: 35vh;
    height: 36px;
    border-radius: 4px;
    padding-left: 12px;
    font-size: 14px;
    font-weight: normal;
    font-family: Akzidenz, "‘Helvetica Neue’", Helvetica, Arial, sans-serif;
    border: 1px solid rgb(184, 196, 194);
    transition: border-color 150ms ease-in-out 1s;
    z-index: 1;
    outline: none;
    color: rgb(33, 49, 60);
    background-color: rgb(255, 255, 255);
    padding-right: 12px;
    margin-bottom: 0.4em;
    display: flex;
}

.titulosInfoUser {
    border-radius: 1em;
    width: max-content;
    height: 36px;
    margin-bottom: 0.4em;
    margin-left: 0.5em;
    font-weight: bold;
    padding-top: 0.2em;
    font-size: 15px;

}

.tituloDataProfile{
    margin-bottom: 0;
    font-family: 'Antonio', sans-serif;
    font-size: 20px;
    text-align: center;
    /* margin-left: 7em; */
}

.sendButtonEdit {
    position: relative;
    background: #303036;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 2em;
    margin-top: 6em;
  }
  
  .sendButtonEdit:hover {
    background: #e15554;
    transition: 0.2s;
  }