@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@700&family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');



.boxLateral{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: black;
    height: 80vh;
    position: fixed;
    width: 20vw;
}

.lateralMenu{
    height: 200vh;
    width: max-content;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: black;
    padding: 2em;
}

.blanck {
  height: 3.9em;
}

.iconMenuLateral{
    height: 6.5vh;
    width: 12vw;
    margin: 0.2em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 1em;
    transition: 0.3s;
    background-color: black;
    font-size: 21px;
}

.iconMenuLateral:hover{
 
}

.botomMenuLateral{
    height: 6.5vh;
    width: 12vw;
    margin: 0.2em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 1em;
    transition: 0.3s;
    background-color: black;
    font-size: 20px;
    padding-left: 0.3em;
}
.botomMenuLateral:hover{
    background-color: #F0EC57;
    cursor: pointer;
    transition: 0.3s;
    color: black;
    text-align: center;
    
}

.tituloVistaAdmin{
    color: #E15554;
    font-weight: bold;
    font-family: Akzidenz, "‘Helvetica Neue’", Helvetica, Arial, sans-serif;
    margin-bottom: 2em;
    font-size: 1.2em;
    height: 6.5vh;
    width: 12vw;
    margin: 0.2em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 1em;
    transition: 0.3s;
    background-color: black;
    font-size: 18px;
    padding-left: 0.3em;
}