
.nav {
    color: #EDEDF4;
    height: 20vh;
    width: auto;
    display: flex;
    justify-content: center;
    z-index: 1;
    position: sticky;
    top:0;
  }
  
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
   
  }

  // espacio en blanco entre logo y los botones de inscribirse y login
  .blank {
    height: 20vh;
    width: 60vw;
    
  }
  
  //div de inscribirse y login
  .NavLink {
    display: flex;
    align-items: center;
    height: 20vh;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    width: 10em;
    text-align: center;
    
  }
  
  //div imagen
  .img {
    height: 20vw;
    width: auto;
    padding-top: 0em;
    padding-left: 2em;
    max-height: 10em;
    margin-top: 0em;
  
  }
  
  .NavMenu {
    width: 17vw;
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: center;
  }
  
  .NavLink:hover {
    
    color: #E15554;
    border-radius: 2%;
    transition: 0.5s;
  }
  
  .fotoUser{
    height: 13vh;
  }
  
  #fotoNavBar{
    height: fit-content;
    width: 30%;
    border-radius: 50%;
  }

