@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@700&family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

.titleSearchSoon {
    font-family: 'Antonio', sans-serif;
    font-size: 28px;
    text-align: center;
    margin-bottom: 1.5em;
}

.titleSearch {

    font-family: 'Antonio', sans-serif;
    font-size: 20px;
    text-align: center;

    .boxCardSearch {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;  
        height: auto;
        width: auto;    
    
        .cardMovie {
            height: auto;
            width: fit-content;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;   
            border-radius: 1em;
            transition: 0.3s;
            font-size: 0.8em;
            margin-right: 1em;
            background-color: #F0EC57;
            margin-bottom: 1em;
            padding: 1em;

            &:hover{
                background-color: #F02D3A;
                cursor: pointer;
                transition: 0.3s;
                transform: scale(1.2) !important;
            }
        }
    }
}


.changePagesArrows {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .right {
        cursor: pointer;
        font-size: 2em;
        padding: 1em;

        &:hover {
            cursor: pointer;
            color: #F02D3A;
        }
    }

    .left {
        cursor: pointer;
        font-size: 2em;
        padding: 1em;

        &:hover {
            cursor: pointer;
            color: #F02D3A;
        }
    }

}



/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 1920px) {
    .datosCardJoinUser {
      font-size: 15px;
    }
  }
