.videoframe {
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: center;
}

.botonIconTrailer {
    font-size: 2em;
    padding-left: 2em;
    padding-right: 2em;
    text-align: center;
    align-content: center;
    justify-content: center;
    margin-top: 5em;
  }